<!DOCTYPE html>
<html dir="ltr" lang="ru-RU" style="font-size: 14px; line-height: 1.5;"> 
    <head>
        {% include "../block/common/head/head.twig" with {title:"Главная"}  %}
    </head>
    <body>
        {% include "../block/page/index.twig" with {
            view: "catalog",
            content_prefix:"content-block__", 
            content_mod:"is--promo-catalog",    
            list:[
                {
                    img:[path.img,"/default/promo-card1.jpg"].join(''),
                },
                {
                    img:[path.img,"/default/promo-card1.jpg"].join(''),
                },
                {
                    img:[path.img,"/default/promo-card1.jpg"].join(''),
                },
            ],
        } %}    
        {% include "../block/common/script/script.twig"%}
    </body>
</html>