<!DOCTYPE html>
<html dir="ltr" lang="ru-RU"> 
    <head>
        {% include "../block/common/head/head.twig" with {title:"Главная"}  %}
    </head>
    <body>
        {% include "../block/page/index.twig" with {
            view: "banner",
            content_prefix:"content-block__", 
            content_mod:"is--index-banner",
            banner_list:[
                {
                    link: '#',
                    img:[path.img,"/temp/index-banner.jpg"].join(''),
                },
                {
                    link: '#',
                    img:[path.img,"/temp/index-banner.jpg"].join(''),
                },
            ],
            banner_mod: 'is--banner',
            banner_white_mod: 'is--white',
            banner_white:[
                {
                    mod: 'is--white',
                    name: 'Всегда под рукой',
                    note: 'Легкий и удобный с высокой мощностью всасывания',
                    link: '#',
                    img:[path.img,"/temp/index-banner2.png"].join(''),
                    btn: 'Подробнее'
                },
                {
                    mod: 'is--white',
                    name: 'Широкий модельный ряд',
                    note: 'Питание от сети или встроеного аккумулятора',
                    img:[path.img,"/temp/index-banner3.png"].join(''),
                },
            ],
            banner_blue_mod: 'is--blue',
            banner_blue:[
                {
                    mod: 'is--blue',
                    name: 'Широкий модельный ряд',
                    note: 'Питание от сети или встроеного аккумулятора',
                    link: '#',
                    img:[path.img,"/temp/index-banner3.png"].join(''),
                    btn: 'Интернет-магазин'
                },
                {
                    mod: 'is--blue',
                    name: 'Всегда под рукой',
                    note: 'Легкий и удобный с высокой мощностью всасывания',
                    img:[path.img,"/temp/index-banner2.png"].join('')
                },
            ],
                     
        } %}
        {% include "../block/common/modals/include.twig"%}        
        {% include "../block/common/script/script.twig"%}
    </body>
</html> 
