<!DOCTYPE html>
<html dir="ltr" lang="ru-RU" style="font-size: 14px; line-height: 1.5;"> 
    <head>
        {% include "../block/common/head/head.twig" with {title:"Главная"}  %}
    </head>
    <body>
        {% include "../block/page/index.twig" with {
            view: "insta",
            content_prefix:"content-block__", 
            content_mod:"is--promo-insta",    
            img:[path.img,"/default/insta.png"].join(''),
            list:[
                {
                    img:[path.img,"/default/promo-card1.jpg"].join(''),
                    group:'is--gallery',
                },
                {
                    img:[path.img,"/default/promo-card2.jpg"].join(''),
                    group:'is--video',
                },
                {
                    img:[path.img,"/default/promo-card3.jpg"].join(''),
                    group:'is--gallery',
                },
                {
                    img:[path.img,"/default/promo-card1.jpg"].join(''),
                    group:'is--gallery',
                },
                {
                    img:[path.img,"/default/promo-card2.jpg"].join(''),
                    group:'is--gallery',
                },
                {
                    img:[path.img,"/default/promo-card1.jpg"].join(''),
                },
                {
                    img:[path.img,"/default/promo-card2.jpg"].join(''),
                    group:'is--gallery',
                },
                {
                    img:[path.img,"/default/promo-card3.jpg"].join(''),
                    group:'is--gallery',
                },
                {
                    img:[path.img,"/default/promo-card1.jpg"].join(''),
                },
                {
                    img:[path.img,"/default/promo-card2.jpg"].join(''),
                    group:'is--gallery',
                },
            ],
        } %}    
        {% include "../block/common/script/script.twig" with {
            script :"document-ready"
        }%} 
    </body>
</html>