<!DOCTYPE html>
<html dir="ltr" lang="ru-RU"> 
    <head>
        {% include "../block/common/head/head.twig" with {
            title:"Промо 2021",
            style: 'juicer'
        }  %}
    </head>
    <body>
        <img src="{{path.img}}/temp/menu.jpg" style="position: fixed;top: 0;left: 0;right: 0;z-index: 30;height: 60px;" alt="">
        {% include "../block/page/block.twig" with {
            view:               "promo_nav",

            content_prefix:     prefix.juicer, 
            content_mod:        "is--nav",  
            
            nav:[
                {
                    name:"Призы",
                    link:"#juicer-prizes",
                    mod:"scrollto",
                    diff:"-120",
                },
                {
                    name:"Зарегистрировать чек",
                    link:"#juicer-form",
                    mod:"scrollto",
                    diff:"-123",
                },
                {
                    name:"Победители",
                    link:"#juicer-winner",
                    mod:"scrollto",
                    diff:"-123",
                },
                {
                    name:"Купить",
                    link:"#juicer-buy",
                    mod:"scrollto",
                    diff:"-123",
                },
            ],
        } %}



        {% include "../block/page/block.twig" with {
            view:               "promo_header",

            content_prefix:     prefix.juicer, 
            content_mod:        "",  

            img:                [path.img,"/promo/juicer/banner-lg.jpg"].join(''),
            img_xs:             [path.img,"/promo/juicer/banner-xs.jpg"].join(''),
        } %}

        {% include "../block/page/block.twig" with {
            view:               "promo_step",

            content_prefix:     prefix.juicer, 
            content_mod:        "is--step",  
            
            list:[
                {
                    name:"Купи",
                    note:"любую соковыжималку Scarlett и отсканируй QR-код на коробке",
                    img:[path.img,"/promo/juicer/step1.png"].join(''),
                },
                {
                    name:"Загрузи",
                    note:"чек на сайт и оставь свой электронный адрес",
                    img:[path.img,"/promo/juicer/step2.png"].join(''),
                },
                {
                    name:"Получи",
                    note:"гарантированный приз и прими участие в розыгрышах суперпризов - наборов техники HYUNDAI",
                    img:[path.img,"/promo/juicer/step3.png"].join(''),
                },
            ],
        } %}

        {% include "../block/page/block.twig" with {
            view:               "promo_step",

            ID:                 "juicer-prizes",

            content_prefix:     prefix.juicer, 
            content_mod:        "is--prizes",  
            heading:            "Призы",  
            
            list:[
                {
                    name:"Гарантированные ",
                    note:"скидки на покупку бытовой техники",
                    img:[path.img,"/promo/juicer/prizes1.png"].join(''),
                },
                {
                    name:"Еженедельные",
                    note:"3 победителя каждую неделю",
                    img:[path.img,"/promo/juicer/prizes2.png"].join(''),
                },
                {
                    name:"Ежемесячные ",
                    note:"1 победитель каждый месяц",
                    img:[path.img,"/promo/juicer/prizes3.png"].join(''),
                },
            ],
        } %}

        {% include "../block/page/block.twig" with {
            ID:                 'juicer-form',

            view:               "promo_form",
            content_prefix:     prefix.juicer, 
            content_mod:        "is--form",
            heading:            "Форма регистрации чека",                              
            form_prefix:        prefix.form,                     
        } %} 

        <section class="{{prefix.juicer}}section  is--winner-wrap">
            <div class="{{prefix.juicer}}container  container  is--winner-wrap">
                {% include "../block/page/block.twig" with {
                    view:               "promo_step",
                    container:          "false",

                    content_prefix:     prefix.juicer, 
                    content_mod:        "is--prizes-winner",  
                    
                    list:[
                        {
                            tag:"a",
                            name:"призы недели",
                            note:"<b>Весы кухонные Scarlett</b><br> 3 штуки - 3 победителя",
                            label:"Победитель будет определен <b>12.07.2021</b>",
                            img:[path.img,"/promo/juicer/prizes-week.png"].join(''),
                        },
                        {
                            tag:"a",
                            name:"приз июля",
                            note:"<b>Набор техники HYUNDAI:</b><br> <small>пылесос-робот wi-fi,<br> пылесос вертикальный моющий,<br> кондиционер, увлажнитель,<br> конвектор</small>",
                            label:"Победитель будет определен <b>01.08.2021</b>",
                            img:[path.img,"/promo/juicer/prizes-month.png"].join(''),
                        },
                        
                    ],
                } %}
                {% include "../block/page/block.twig" with {

                    ID:                 'juicer-winner',

                    view:               "promo_step",
                    container:          "false",

                    content_prefix:     prefix.juicer, 
                    content_mod:        "is--winner", 

                    heading:            "победители",             
                    
                    table: [
                        {
                            thead: [
                                {
                                    list: [
                                        {
                                            th: 'ИМЯ',
                                        },
                                        {
                                            th: 'E-MAIL',
                                        },
                                        {
                                            th: 'ТЕЛЕФОН',
                                        },
                                        {
                                            th: 'ПРИЗ',
                                        },
                                        {
                                            th: 'ДАТА',
                                        },
                                    ]
                                }
                            ],
                            tbody:[
                                {
                                    list: [
                                        {label: 'ИМЯ', td: 'Людмила'},
                                        {label: 'E-MAIL', td: 'lus***@***.ru'},
                                        {label: 'ТЕЛЕФОН', td: '+7 (928) 324-**-**'},
                                        {label: 'ПРИЗ', td: 'Еженедельный: весы кухонные'},
                                        {label: 'ДАТА', td: '01 июня 2021'},
                                    ]
                                }, 
                                {
                                    list: [
                                        {label: 'ИМЯ', td: 'Людмила'},
                                        {label: 'E-MAIL', td: 'lus***@***.ru'},
                                        {label: 'ТЕЛЕФОН', td: '+7 (928) 324-**-**'},
                                        {label: 'ПРИЗ', td: 'Еженедельный: весы кухонные'},
                                        {label: 'ДАТА', td: '01 июня 2021'},
                                    ]
                                }, 
                                {
                                    list: [
                                        {label: 'ИМЯ', td: 'Людмила'},
                                        {label: 'E-MAIL', td: 'lus***@***.ru'},
                                        {label: 'ТЕЛЕФОН', td: '+7 (928) 324-**-**'},
                                        {label: 'ПРИЗ', td: 'Еженедельный: весы кухонные'},
                                        {label: 'ДАТА', td: '01 июня 2021'},
                                    ]
                                }, 
                                {
                                    list: [
                                        {label: 'ИМЯ', td: 'Людмила'},
                                        {label: 'E-MAIL', td: 'lus***@***.ru'},
                                        {label: 'ТЕЛЕФОН', td: '+7 (928) 324-**-**'},
                                        {label: 'ПРИЗ', td: 'Еженедельный: весы кухонные'},
                                        {label: 'ДАТА', td: '01 июня 2021'},
                                    ]
                                }, 
                                {
                                    list: [
                                        {label: 'ИМЯ', td: 'Людмила'},
                                        {label: 'E-MAIL', td: 'lus***@***.ru'},
                                        {label: 'ТЕЛЕФОН', td: '+7 (928) 324-**-**'},
                                        {label: 'ПРИЗ', td: 'Еженедельный: весы кухонные'},
                                        {label: 'ДАТА', td: '01 июня 2021'},
                                    ]
                                }, 
                                {
                                    list: [
                                        {label: 'ИМЯ', td: 'Людмила'},
                                        {label: 'E-MAIL', td: 'lus***@***.ru'},
                                        {label: 'ТЕЛЕФОН', td: '+7 (928) 324-**-**'},
                                        {label: 'ПРИЗ', td: 'Еженедельный: весы кухонные'},
                                        {label: 'ДАТА', td: '01 июня 2021'},
                                    ]
                                }, 
                                {
                                    list: [
                                        {label: 'ИМЯ', td: 'Людмила'},
                                        {label: 'E-MAIL', td: 'lus***@***.ru'},
                                        {label: 'ТЕЛЕФОН', td: '+7 (928) 324-**-**'},
                                        {label: 'ПРИЗ', td: 'Еженедельный: весы кухонные'},
                                        {label: 'ДАТА', td: '01 июня 2021'},
                                    ]
                                }, 
                                {
                                    list: [
                                        {label: 'ИМЯ', td: 'Людмила'},
                                        {label: 'E-MAIL', td: 'lus***@***.ru'},
                                        {label: 'ТЕЛЕФОН', td: '+7 (928) 324-**-**'},
                                        {label: 'ПРИЗ', td: 'Еженедельный: весы кухонные'},
                                        {label: 'ДАТА', td: '01 июня 2021'},
                                    ]
                                }, 
                                {
                                    list: [
                                        {label: 'ИМЯ', td: 'Людмила'},
                                        {label: 'E-MAIL', td: 'lus***@***.ru'},
                                        {label: 'ТЕЛЕФОН', td: '+7 (928) 324-**-**'},
                                        {label: 'ПРИЗ', td: 'Еженедельный: весы кухонные'},
                                        {label: 'ДАТА', td: '01 июня 2021'},
                                    ]
                                }, 
                                {
                                    list: [
                                        {label: 'ИМЯ', td: 'Людмила'},
                                        {label: 'E-MAIL', td: 'lus***@***.ru'},
                                        {label: 'ТЕЛЕФОН', td: '+7 (928) 324-**-**'},
                                        {label: 'ПРИЗ', td: 'Еженедельный: весы кухонные'},
                                        {label: 'ДАТА', td: '01 июня 2021'},
                                    ]
                                }, 
                                {
                                    list: [
                                        {label: 'ИМЯ', td: 'Людмила'},
                                        {label: 'E-MAIL', td: 'lus***@***.ru'},
                                        {label: 'ТЕЛЕФОН', td: '+7 (928) 324-**-**'},
                                        {label: 'ПРИЗ', td: 'Еженедельный: весы кухонные'},
                                        {label: 'ДАТА', td: '01 июня 2021'},
                                    ]
                                }, 
                                {
                                    list: [
                                        {label: 'ИМЯ', td: 'Людмила'},
                                        {label: 'E-MAIL', td: 'lus***@***.ru'},
                                        {label: 'ТЕЛЕФОН', td: '+7 (928) 324-**-**'},
                                        {label: 'ПРИЗ', td: 'Еженедельный: весы кухонные'},
                                        {label: 'ДАТА', td: '01 июня 2021'},
                                    ]
                                }, 
                                {
                                    list: [
                                        {label: 'ИМЯ', td: 'Людмила'},
                                        {label: 'E-MAIL', td: 'lus***@***.ru'},
                                        {label: 'ТЕЛЕФОН', td: '+7 (928) 324-**-**'},
                                        {label: 'ПРИЗ', td: 'Еженедельный: весы кухонные'},
                                        {label: 'ДАТА', td: '01 июня 2021'},
                                    ]
                                }, 
                                {
                                    list: [
                                        {label: 'ИМЯ', td: 'Людмила'},
                                        {label: 'E-MAIL', td: 'lus***@***.ru'},
                                        {label: 'ТЕЛЕФОН', td: '+7 (928) 324-**-**'},
                                        {label: 'ПРИЗ', td: 'Еженедельный: весы кухонные'},
                                        {label: 'ДАТА', td: '01 июня 2021'},
                                    ]
                                }, 
                                {
                                    list: [
                                        {label: 'ИМЯ', td: 'Людмила'},
                                        {label: 'E-MAIL', td: 'lus***@***.ru'},
                                        {label: 'ТЕЛЕФОН', td: '+7 (928) 324-**-**'},
                                        {label: 'ПРИЗ', td: 'Еженедельный: весы кухонные'},
                                        {label: 'ДАТА', td: '01 июня 2021'},
                                    ]
                                }, 
                                {
                                    list: [
                                        {label: 'ИМЯ', td: 'Людмила'},
                                        {label: 'E-MAIL', td: 'lus***@***.ru'},
                                        {label: 'ТЕЛЕФОН', td: '+7 (928) 324-**-**'},
                                        {label: 'ПРИЗ', td: 'Еженедельный: весы кухонные'},
                                        {label: 'ДАТА', td: '01 июня 2021'},
                                    ]
                                }, 
                                {
                                    list: [
                                        {label: 'ИМЯ', td: 'Людмила'},
                                        {label: 'E-MAIL', td: 'lus***@***.ru'},
                                        {label: 'ТЕЛЕФОН', td: '+7 (928) 324-**-**'},
                                        {label: 'ПРИЗ', td: 'Еженедельный: весы кухонные'},
                                        {label: 'ДАТА', td: '01 июня 2021'},
                                    ]
                                }, 
                                {
                                    list: [
                                        {label: 'ИМЯ', td: 'Людмила'},
                                        {label: 'E-MAIL', td: 'lus***@***.ru'},
                                        {label: 'ТЕЛЕФОН', td: '+7 (928) 324-**-**'},
                                        {label: 'ПРИЗ', td: 'Еженедельный: весы кухонные'},
                                        {label: 'ДАТА', td: '01 июня 2021'},
                                    ]
                                }, 
                                {
                                    list: [
                                        {label: 'ИМЯ', td: 'Людмила'},
                                        {label: 'E-MAIL', td: 'lus***@***.ru'},
                                        {label: 'ТЕЛЕФОН', td: '+7 (928) 324-**-**'},
                                        {label: 'ПРИЗ', td: 'Еженедельный: весы кухонные'},
                                        {label: 'ДАТА', td: '01 июня 2021'},
                                    ]
                                }, 
                                {
                                    list: [
                                        {label: 'ИМЯ', td: 'Людмила'},
                                        {label: 'E-MAIL', td: 'lus***@***.ru'},
                                        {label: 'ТЕЛЕФОН', td: '+7 (928) 324-**-**'},
                                        {label: 'ПРИЗ', td: 'Еженедельный: весы кухонные'},
                                        {label: 'ДАТА', td: '01 июня 2021'},
                                    ]
                                },                         
                            ]
                        },
                    ]
                } %}
            </div>
        </section>


        {% include "../block/page/block.twig" with {
            ID:                 "juicer-buy",
            view:               "promo_step",

            content_prefix:     prefix.juicer, 
            content_mod:        "is--juicer",  
            heading:            "выбери свою соковыжималку",  
            
            list:[
                {
                    tag:"a",
                    img:[path.img,"/promo/juicer/juicer-item1.png"].join(''),
                    note:"Польза и заряд витаминов каждый день",
                    btn:"выбрать",
                    btn_color:"#73ac40",
                },
                {
                    tag:"a",
                    img:[path.img,"/promo/juicer/juicer-item2.png"].join(''),
                    note:"Легко собирается и прочно фиксируется",
                    btn:"выбрать",
                    btn_color:"#c4007a",
                },
                {
                    tag:"a",
                    img:[path.img,"/promo/juicer/juicer-item3.png"].join(''),
                    note:"Легко моется под струей воды или в посудомойке ",
                    btn:"выбрать",
                    btn_color:"#e7c23f",
                },
                {
                    tag:"a",
                    img:[path.img,"/promo/juicer/juicer-item4.png"].join(''),
                    note:"3 кг твердых овощей и фруктов за минуту",
                    btn:"выбрать",
                    btn_color:"#c21477",
                },
                
            ],
        } %}

        {% include "../block/common/modals/tpl.twig" with {
            prefix: "modal__", 
            mod:    "is--modal-juicer", 
            ID:     "modal-juicer",
            img:    [path.img,"/promo/juicer/modal-img.png"].join(''),
            name:   'Спасибо за&nbsp;регистрацию чека!',
        } %}

        {% include "../block/common/script/script.twig" with {
            view :"modal"
        }%}
        <script>
            var table = $('.juicer__table ');
            table.each(function() {
                var $span = $(this).find("tbody tr");
                if( $span.length <= 5 ) return;
                $span.slice(5).hide();
            });
              
            $(".js--show").on("click", function() {
                $(this).closest(".juicer__container").find("tbody tr").show();
                $(this).hide();
            });
        </script>
    </body>
</html> 
