<!DOCTYPE html>
<html dir="ltr" lang="ru-RU"> 
    <head>
        {% include "../block/common/head/head.twig" with {
            title:"Промо 2021",
            style: 'juicer'
        }  %}
    </head>
    <body>
        <img src="{{path.img}}/temp/menu.jpg" style="position: fixed;top: 0;left: 0;right: 0;z-index: 30;height: 60px;" alt="">
        {% include "../block/page/block.twig" with {
            view:               "promo_nav",

            content_prefix:     prefix.juicer, 
            content_mod:        "is--nav",  
            
            nav:[
                {
                    name:"Призы",
                    link:"#juicer-prizes",
                    mod:"scrollto",
                    diff:"-120",
                },
                {
                    name:"Зарегистрировать чек",
                    link:"#juicer-form",
                    mod:"scrollto",
                    diff:"-123",
                },
                {
                    name:"Победители",
                    link:"#juicer-winner",
                    mod:"scrollto",
                    diff:"-123",
                },
                {
                    name:"Купить",
                    link:"#juicer-buy",
                    mod:"scrollto",
                    diff:"-123",
                },
                {
                    name:"FAQ",
                    link:"#juicer-faq",
                    mod:"scrollto",
                    diff:"-123",
                },
            ],
        } %}



        {% include "../block/page/block.twig" with {
            view:               "promo_header",

            content_prefix:     prefix.juicer, 
            content_mod:        "",  

            img:                [path.img,"/promo/juicer/banner-lg.jpg"].join(''),
            img_xs:             [path.img,"/promo/juicer/banner-xs.jpg"].join(''),
        } %}

        {% include "../block/page/block.twig" with {
            view:               "promo_step",

            content_prefix:     prefix.juicer, 
            content_mod:        "is--step",  
            
            list:[
                {
                    name:"Купи",
                    note:"любую соковыжималку Scarlett и отсканируй QR-код на коробке",
                    img:[path.img,"/promo/juicer/step1.png"].join(''),
                },
                {
                    name:"Загрузи",
                    note:"чек на сайт и оставь свой электронный адрес",
                    img:[path.img,"/promo/juicer/step2.png"].join(''),
                },
                {
                    name:"Получи",
                    note:"гарантированный приз и прими участие в розыгрышах суперпризов - наборов техники HYUNDAI",
                    img:[path.img,"/promo/juicer/step3.png"].join(''),
                },
            ],
        } %}

        {% include "../block/page/block.twig" with {
            view:               "promo_step",

            ID:                 "juicer-prizes",

            content_prefix:     prefix.juicer, 
            content_mod:        "is--prizes",  
            heading:            "Призы",  
            
            list:[
                {
                    name:"Гарантированные ",
                    note:"скидки на покупку бытовой техники",
                    img:[path.img,"/promo/juicer/prizes1.png"].join(''),
                },
                {
                    name:"Еженедельные",
                    note:"3 победителя каждую неделю",
                    img:[path.img,"/promo/juicer/prizes2.png"].join(''),
                },
                {
                    name:"Ежемесячные ",
                    note:"1 победитель каждый месяц",
                    img:[path.img,"/promo/juicer/prizes3.png"].join(''),
                },
            ],
        } %}

        {% include "../block/page/block.twig" with {
            ID:                 'juicer-form',

            view:               "promo_form",
            content_prefix:     prefix.juicer, 
            content_mod:        "is--form",
            heading:            "Форма регистрации чека",                              
            form_prefix:        prefix.form,                     
        } %} 

        <section class="{{prefix.juicer}}section  is--winner-wrap">
            <div class="{{prefix.juicer}}container  container  is--winner-wrap">
                {% include "../block/page/block.twig" with {
                    view:               "promo_step",
                    container:          "false",

                    content_prefix:     prefix.juicer, 
                    content_mod:        "is--prizes-winner",  
                    
                    list:[
                        {
                            tag:"a",
                            name:"призы недели",
                            note:"<b>Весы кухонные Scarlett</b><br> 3 штуки - 3 победителя",
                            label:"Победитель будет определен <b>12.07.2021</b>",
                            img:[path.img,"/promo/juicer/prizes-week.png"].join(''),
                        },
                        {
                            tag:"a",
                            name:"приз июля",
                            note:"<b>Набор техники HYUNDAI:</b><br> <small>пылесос-робот wi-fi,<br> пылесос вертикальный моющий,<br> кондиционер, увлажнитель,<br> конвектор</small>",
                            label:"Победитель будет определен <b>01.08.2021</b>",
                            img:[path.img,"/promo/juicer/prizes-month.png"].join(''),
                        },
                        
                    ],
                } %}
                {% include "../block/page/block.twig" with {

                    ID:                 'juicer-winner',

                    view:               "promo_step",
                    container:          "false",

                    content_prefix:     prefix.juicer, 
                    content_mod:        "is--winner", 

                    heading:            "победители",             
                    
                    table: [
                        {
                            thead: [
                                {
                                    list: [
                                        {
                                            th: 'ИМЯ',
                                        },
                                        {
                                            th: 'E-MAIL',
                                        },
                                        {
                                            th: 'ТЕЛЕФОН',
                                        },
                                        {
                                            th: 'ПРИЗ',
                                        },
                                        {
                                            th: 'ДАТА',
                                        },
                                    ]
                                }
                            ],
                            tbody:[
                                {
                                    list: [
                                        {label: 'ИМЯ', td: 'Людмила'},
                                        {label: 'E-MAIL', td: 'lus***@***.ru'},
                                        {label: 'ТЕЛЕФОН', td: '+7 (928) 324-**-**'},
                                        {label: 'ПРИЗ', td: 'Еженедельный: весы кухонные'},
                                        {label: 'ДАТА', td: '01 июня 2021'},
                                    ]
                                }, 
                                {
                                    list: [
                                        {label: 'ИМЯ', td: 'Людмила'},
                                        {label: 'E-MAIL', td: 'lus***@***.ru'},
                                        {label: 'ТЕЛЕФОН', td: '+7 (928) 324-**-**'},
                                        {label: 'ПРИЗ', td: 'Еженедельный: весы кухонные'},
                                        {label: 'ДАТА', td: '01 июня 2021'},
                                    ]
                                }, 
                                {
                                    list: [
                                        {label: 'ИМЯ', td: 'Людмила'},
                                        {label: 'E-MAIL', td: 'lus***@***.ru'},
                                        {label: 'ТЕЛЕФОН', td: '+7 (928) 324-**-**'},
                                        {label: 'ПРИЗ', td: 'Еженедельный: весы кухонные'},
                                        {label: 'ДАТА', td: '01 июня 2021'},
                                    ]
                                }, 
                                {
                                    list: [
                                        {label: 'ИМЯ', td: 'Людмила'},
                                        {label: 'E-MAIL', td: 'lus***@***.ru'},
                                        {label: 'ТЕЛЕФОН', td: '+7 (928) 324-**-**'},
                                        {label: 'ПРИЗ', td: 'Еженедельный: весы кухонные'},
                                        {label: 'ДАТА', td: '01 июня 2021'},
                                    ]
                                }, 
                                {
                                    list: [
                                        {label: 'ИМЯ', td: 'Людмила'},
                                        {label: 'E-MAIL', td: 'lus***@***.ru'},
                                        {label: 'ТЕЛЕФОН', td: '+7 (928) 324-**-**'},
                                        {label: 'ПРИЗ', td: 'Еженедельный: весы кухонные'},
                                        {label: 'ДАТА', td: '01 июня 2021'},
                                    ]
                                }, 
                                {
                                    list: [
                                        {label: 'ИМЯ', td: 'Людмила'},
                                        {label: 'E-MAIL', td: 'lus***@***.ru'},
                                        {label: 'ТЕЛЕФОН', td: '+7 (928) 324-**-**'},
                                        {label: 'ПРИЗ', td: 'Еженедельный: весы кухонные'},
                                        {label: 'ДАТА', td: '01 июня 2021'},
                                    ]
                                }, 
                                {
                                    list: [
                                        {label: 'ИМЯ', td: 'Людмила'},
                                        {label: 'E-MAIL', td: 'lus***@***.ru'},
                                        {label: 'ТЕЛЕФОН', td: '+7 (928) 324-**-**'},
                                        {label: 'ПРИЗ', td: 'Еженедельный: весы кухонные'},
                                        {label: 'ДАТА', td: '01 июня 2021'},
                                    ]
                                }, 
                                {
                                    list: [
                                        {label: 'ИМЯ', td: 'Людмила'},
                                        {label: 'E-MAIL', td: 'lus***@***.ru'},
                                        {label: 'ТЕЛЕФОН', td: '+7 (928) 324-**-**'},
                                        {label: 'ПРИЗ', td: 'Еженедельный: весы кухонные'},
                                        {label: 'ДАТА', td: '01 июня 2021'},
                                    ]
                                }, 
                                {
                                    list: [
                                        {label: 'ИМЯ', td: 'Людмила'},
                                        {label: 'E-MAIL', td: 'lus***@***.ru'},
                                        {label: 'ТЕЛЕФОН', td: '+7 (928) 324-**-**'},
                                        {label: 'ПРИЗ', td: 'Еженедельный: весы кухонные'},
                                        {label: 'ДАТА', td: '01 июня 2021'},
                                    ]
                                }, 
                                {
                                    list: [
                                        {label: 'ИМЯ', td: 'Людмила'},
                                        {label: 'E-MAIL', td: 'lus***@***.ru'},
                                        {label: 'ТЕЛЕФОН', td: '+7 (928) 324-**-**'},
                                        {label: 'ПРИЗ', td: 'Еженедельный: весы кухонные'},
                                        {label: 'ДАТА', td: '01 июня 2021'},
                                    ]
                                }, 
                                {
                                    list: [
                                        {label: 'ИМЯ', td: 'Людмила'},
                                        {label: 'E-MAIL', td: 'lus***@***.ru'},
                                        {label: 'ТЕЛЕФОН', td: '+7 (928) 324-**-**'},
                                        {label: 'ПРИЗ', td: 'Еженедельный: весы кухонные'},
                                        {label: 'ДАТА', td: '01 июня 2021'},
                                    ]
                                }, 
                                {
                                    list: [
                                        {label: 'ИМЯ', td: 'Людмила'},
                                        {label: 'E-MAIL', td: 'lus***@***.ru'},
                                        {label: 'ТЕЛЕФОН', td: '+7 (928) 324-**-**'},
                                        {label: 'ПРИЗ', td: 'Еженедельный: весы кухонные'},
                                        {label: 'ДАТА', td: '01 июня 2021'},
                                    ]
                                }, 
                                {
                                    list: [
                                        {label: 'ИМЯ', td: 'Людмила'},
                                        {label: 'E-MAIL', td: 'lus***@***.ru'},
                                        {label: 'ТЕЛЕФОН', td: '+7 (928) 324-**-**'},
                                        {label: 'ПРИЗ', td: 'Еженедельный: весы кухонные'},
                                        {label: 'ДАТА', td: '01 июня 2021'},
                                    ]
                                }, 
                                {
                                    list: [
                                        {label: 'ИМЯ', td: 'Людмила'},
                                        {label: 'E-MAIL', td: 'lus***@***.ru'},
                                        {label: 'ТЕЛЕФОН', td: '+7 (928) 324-**-**'},
                                        {label: 'ПРИЗ', td: 'Еженедельный: весы кухонные'},
                                        {label: 'ДАТА', td: '01 июня 2021'},
                                    ]
                                }, 
                                {
                                    list: [
                                        {label: 'ИМЯ', td: 'Людмила'},
                                        {label: 'E-MAIL', td: 'lus***@***.ru'},
                                        {label: 'ТЕЛЕФОН', td: '+7 (928) 324-**-**'},
                                        {label: 'ПРИЗ', td: 'Еженедельный: весы кухонные'},
                                        {label: 'ДАТА', td: '01 июня 2021'},
                                    ]
                                }, 
                                {
                                    list: [
                                        {label: 'ИМЯ', td: 'Людмила'},
                                        {label: 'E-MAIL', td: 'lus***@***.ru'},
                                        {label: 'ТЕЛЕФОН', td: '+7 (928) 324-**-**'},
                                        {label: 'ПРИЗ', td: 'Еженедельный: весы кухонные'},
                                        {label: 'ДАТА', td: '01 июня 2021'},
                                    ]
                                }, 
                                {
                                    list: [
                                        {label: 'ИМЯ', td: 'Людмила'},
                                        {label: 'E-MAIL', td: 'lus***@***.ru'},
                                        {label: 'ТЕЛЕФОН', td: '+7 (928) 324-**-**'},
                                        {label: 'ПРИЗ', td: 'Еженедельный: весы кухонные'},
                                        {label: 'ДАТА', td: '01 июня 2021'},
                                    ]
                                }, 
                                {
                                    list: [
                                        {label: 'ИМЯ', td: 'Людмила'},
                                        {label: 'E-MAIL', td: 'lus***@***.ru'},
                                        {label: 'ТЕЛЕФОН', td: '+7 (928) 324-**-**'},
                                        {label: 'ПРИЗ', td: 'Еженедельный: весы кухонные'},
                                        {label: 'ДАТА', td: '01 июня 2021'},
                                    ]
                                }, 
                                {
                                    list: [
                                        {label: 'ИМЯ', td: 'Людмила'},
                                        {label: 'E-MAIL', td: 'lus***@***.ru'},
                                        {label: 'ТЕЛЕФОН', td: '+7 (928) 324-**-**'},
                                        {label: 'ПРИЗ', td: 'Еженедельный: весы кухонные'},
                                        {label: 'ДАТА', td: '01 июня 2021'},
                                    ]
                                }, 
                                {
                                    list: [
                                        {label: 'ИМЯ', td: 'Людмила'},
                                        {label: 'E-MAIL', td: 'lus***@***.ru'},
                                        {label: 'ТЕЛЕФОН', td: '+7 (928) 324-**-**'},
                                        {label: 'ПРИЗ', td: 'Еженедельный: весы кухонные'},
                                        {label: 'ДАТА', td: '01 июня 2021'},
                                    ]
                                },                         
                            ]
                        },
                    ]
                } %}
            </div>
        </section>


        {% include "../block/page/block.twig" with {
            ID:                 "juicer-buy",
            view:               "promo_step",

            content_prefix:     prefix.juicer, 
            content_mod:        "is--juicer",  
            heading:            "выбери свою соковыжималку",  
            
            list:[
                {
                    tag:"a",
                    img:[path.img,"/promo/juicer/juicer-item1.png"].join(''),
                    note:"Польза и заряд витаминов каждый день",
                    btn:"выбрать",
                    btn_color:"#73ac40",
                },
                {
                    tag:"a",
                    img:[path.img,"/promo/juicer/juicer-item2.png"].join(''),
                    note:"Легко собирается и прочно фиксируется",
                    btn:"выбрать",
                    btn_color:"#c4007a",
                },
                {
                    tag:"a",
                    img:[path.img,"/promo/juicer/juicer-item3.png"].join(''),
                    note:"Легко моется под струей воды или в посудомойке ",
                    btn:"выбрать",
                    btn_color:"#e7c23f",
                },
                {
                    tag:"a",
                    img:[path.img,"/promo/juicer/juicer-item4.png"].join(''),
                    note:"3 кг твердых овощей и фруктов за минуту",
                    btn:"выбрать",
                    btn_color:"#c21477",
                },
                
            ],
        } %}

        {% include "../block/page/block.twig" with {
            ID:                 'juicer-faq',

            view:               "promo_faq",
            content_prefix:     prefix.juicer, 
            content_mod:        "is--faq",
            heading:            "FAQ",

            card_id:            'faq',
            card_view:          'faq',
            card_prefix:        [prefix.juicer,"card-"].join(''),
            card_mod:           'is--faq',
            card_list: [
                {
                    "list": [
                        {
                            id: '0',
                            name: 'Какие продукты участвуют в акции?',
                            note: '
                                <p>Соковыжималки Scarlett.</p>',
                        },
                        {
                            id: '1',
                            name: 'Где можно ознакомиться с правилами акции? ',
                            note: '
                                <p>На&nbsp;сайте акции&nbsp;— <a href="//www.scarlett.ru/promo/juice2021/">www.scarlett.ru/promo/juice2021/</a>.</p>',
                        },
                        {
                            id: '2',
                            name: 'Кто может принять участие в акции? ',
                            note: '
                                <p>Гражданин РФ, достигший 18-летнего возраста, постоянно проживающий на территории РФ и зарегистрировавший на сайте не менее 1 чека. </p>',
                        },
                        {
                            id: '3',
                            name: 'Какие сроки проведения акции?',
                            note: '
                                <p>Общий срок проведения Акции, включая период выдачи призов Победителям с&nbsp;«1» июля 2021 года по&nbsp;«31» октября 2021 года (включительно).</p>
<p>Период совершения покупки Продукции с&nbsp;00&nbsp;часов 00&nbsp;минут 01&nbsp;секунд «01» марта 2021 до&nbsp;23&nbsp;часов 59&nbsp;минут 59&nbsp;секунд «30» сентября 2021 года (включительно) по&nbsp;Московскому времени.</p>
<p>Период регистрации чеков с&nbsp;00&nbsp;ч.&nbsp;00&nbsp;м.&nbsp;01&nbsp;с «1» июля 2021 до&nbsp;23&nbsp;часов 59&nbsp;минут 59&nbsp;секунд «30» сентября 2021 года (включительно) по&nbsp;Московскому времени.</p>
<p>Период выдачи призов Победителям Акции с&nbsp;«1» июля 2021 года по&nbsp;«31» октября 2021 года (включительно).</p>',
                        },
                        {
                            id: '5',
                            name: 'Как принять участие в Акции?',
                            note: '<ul> 
    <li> Совершить в&nbsp;сроки, установленные настоящими Правилами, покупку не&nbsp;менее&nbsp;1 (одной) единицы товара из&nbsp;категории соковыжималки «Scarlett» в&nbsp;одном из&nbsp;магазинов, реализующем продукцию на&nbsp;территории Российской Федерации.</li>
    <li> В&nbsp;период с&nbsp;00&nbsp;ч.&nbsp;00&nbsp;м.&nbsp;01&nbsp;с. «1» июля 2021 года по&nbsp;23&nbsp;ч.&nbsp;59&nbsp;м.&nbsp;59&nbsp;с. «30» сентября 2021 года (включительно) по&nbsp;Московскому времени зарегистрировать чек, подтверждающий покупку, на&nbsp;Сайте Акции.</li>
</ul>',
                        },
                        {
                            id: '6',
                            name: 'Сколько чеков я могу зарегистрировать за всю Акцию?',
                            note: '<p>Каждый Участник может зарегистрировать неограниченное количество чеков.</p>',
                        },
                        {
                            id: '7',
                            name: 'Нужно сохранять кассовый чек и упаковку?',
                            note: '<p>Участник обязан сохранить оригинал кассового чека и&nbsp;упаковки, подтверждающие приобретение Продукции «Scarlett», до&nbsp;окончания общего срока проведения Акции.</p>',
                        },
                        {
                            id: '8',
                            name: 'Не получается загрузить чек, что делать?',
                            note: '<p>Обратись в&nbsp;службу поддержки через форму обратной связи на&nbsp;сайте или по&nbsp;электронному адресу <a href="mailto:promotion@scarlett.ru">promotion@scarlett.ru</a>.</p><p>Срок предоставления обратной связи может составлять до&nbsp;3&nbsp;дней.</p>',
                        },
                        {
                            id: '9',
                            name: 'Какие призы я могу выиграть?',
                            note: '<p>Гарантированный приз, Еженедельные призы, Суперпризы.</p>
<p>Призы для еженедельного розыгрыша меняются каждую неделю.</p>
<p>Суперпризы&nbsp;— это наборы продукции бренда «HYUNDAI», каждый из&nbsp;которых включает в&nbsp;себя:</p>
<ul> 
    <li> Робот-пылесос</li>
    <li> Ручной пылесос</li>
    <li> Сплит система</li>
    <li> Увлажнитель</li>
    <li> Конвектор</li>
</ul>',
                        },
                        {
                            id: '10',
                            name: 'Сколько призов я могу выиграть в акции?',
                            note: '<p>Один Участник за&nbsp;весь период Акции может получить: 1&nbsp;(один) Гарантированный приз и/или1 (один) Еженедельный приз и/или 1&nbsp;(один) Главный Приз.</p>',
                        },
                        {
                            id: '11',
                            name: 'Когда будут разыграны призы?',
                            note: '<p>Розыгрыш еженедельных призов проходит каждую неделю:</p>        <div class="table">
<table>
<thead>
<tr>
<th>№</th>
<th>Период регистрации чеков</th>
<th>Период проведения розыгрыша/ определения победителей</th>
</tr>
</thead>
<tbody>
    <tr>
        <td>1</td>
        <td>00:00:00 01.07.2021 - 23:59:59 11.07.2021</td>
        <td>12.07.2021г.</td>
    </tr>
    <tr>
        <td>2</td>
        <td>00:00:00 12.07.2021 - 23:59:59 18.07.2021</td>
        <td>19.07.2021г.</td>
    </tr>
    <tr>
        <td>3</td>
        <td>00:00:00 19.07.2021 - 23:59:59 25.07.2021</td>
        <td>26.07.2021г.</td>
    </tr>
    <tr>
        <td>4</td>
        <td>00:00:00 26.07.2021 - 23:59:59 01.08.2021</td>
        <td>02.08.2021г.</td>
    </tr>
    <tr>
        <td>5</td>
        <td>00:00:00 02.08.2021 - 23:59:59 08.08.2021 </td>
        <td>09.08.2021г.</td>
    </tr>
    <tr>
        <td>6</td>
        <td>00:00:00 09.08.2021 - 23:59:59 15.08.2021 </td>
        <td>16.08.2021г.</td>
    </tr>
    <tr>
        <td>7</td>
        <td>00:00:00 16.08.2021 - 23:59:59 22.08.2021</td>
        <td>23.08.2021г.</td>
    </tr>
    <tr>
        <td>8</td>
        <td>00:00:00 23.08.2021 - 23:59:59 29.08.2021 </td>
        <td>30.08.2021г.</td>
    </tr>
    <tr>
        <td>9</td>
        <td>00:00:00 30.08.2021 - 23:59:59 05.09.2021 </td>
        <td>06.09.2021г.</td>
    </tr>
    <tr>
        <td>10</td>
        <td>00:00:00 06.09.2021 - 23:59:59 12.09.2021</td>
        <td>13.09.2021г.</td>
    </tr>
    <tr>
        <td>11</td>
        <td>00:00:00 13.09.2021 - 23:59:59 19.09.2021</td>
        <td>20.09.2021г.</td>
    </tr>
    <tr>
        <td>12</td>
        <td>00:00:00 20.09.2021 - 23:59:59 26.09.2021</td>
        <td>27.09.2021г.</td>
    </tr>
    <tr>
        <td>13</td>
        <td>00:00:00 27.09.2021 - 23:59:59 30.09.2021</td>
        <td>01.10.2021г.</td>
    </tr>
</tbody>
    
</table>
</div>
                            <p>Розыгрыш главных призов проходит 01.08.2021, 01.09.2021, 01.10.2021.</p>',
                        },
                        {
                            id: '12',
                            name: 'В каком случае регистрация чека не осуществляется?',
                            note: '<p>Регистрация чека не&nbsp;осуществляется, а&nbsp;потребитель не&nbsp;становится Участником Акции и&nbsp;не&nbsp;принимает Участие в&nbsp;получении Призов, в&nbsp;следующих случаях:</p>
<ul> 
    <li> если загруженный чек вымышленный или подделанный;</li>
    <li> если Участник регистрирует чек, зарегистрированный другим лицом ранее;</li>
    <li> если регистрация чека произведена лицом ранее, чем с&nbsp;00&nbsp;ч.&nbsp;00&nbsp;м.&nbsp;01&nbsp;с «1» июля 2021 года или позднее 23&nbsp;ч.&nbsp;59&nbsp;м.&nbsp;59&nbsp;с. «30» сентября 2021 года (по&nbsp;Московскому времени);</li>
    <li> регистрация чека не&nbsp;осуществляется, если один и&nbsp;тот&nbsp;же Участник повторно регистрирует уже зарегистрированный ранее чек, либо если один и&nbsp;тот&nbsp;же Участник регистрирует чек с&nbsp;разных аккаунтов.</li>
</ul>',
                        },
                        {
                            id: '13',
                            name: 'Какие данные необходимо предоставить для получения Приза?',
                            note: '<p>Для получения призов необходимо представить следующую информацию и&nbsp;документы:</p>
<ul> 
    <li> Фамилия, имя, отчество;</li>
    <li> Дата рождения;</li>
    <li> Адрес регистрации (по&nbsp;паспорту);</li>
    <li> Копия паспорта (первая страница с&nbsp;фотографией и&nbsp;паспортными данными и&nbsp;страница с&nbsp;указанием адреса регистрации);</li>
    <li> Сканированную копию свидетельства ИНН (для выдачи Главного приза, указанного в&nbsp;п.&nbsp;2.5.2. настоящих Правил);</li>
    <li> Реквизиты личной банковской карты;</li>
    <li> Акт приема-передачи (расписка) о&nbsp;получении Приза (сканированную копию);</li>
    <li> Иную информацию по&nbsp;запросу Организатора.</li>
 </ul>',
                        },
                        {
                            id: '14',
                            name: 'Как я могу получить приз? ',
                            note: '<ul> 
    <li> Вручение Гарантированных Призов Акции производится путем отправки Приза на&nbsp;зарегистрированный на&nbsp;Сайте Акции электронный адрес Победителя. </li>
    <li> Вручение еженедельных и&nbsp;главных призов производится путем вручения Приза лично в&nbsp;руки Победителю по&nbsp;предварительно предоставленному Победителем Организатору адресу доставки Приза. Организатор Акции не&nbsp;несет ответственности, в&nbsp;случае указания Участником неверных данных для отправки Призов, Призы повторно не&nbsp;высылаются. Доставка Призов осуществляется только в&nbsp;населенные пункты, в&nbsp;которых доступна доставка транспортной компанией СДЭК (CDEK). </li>
</ul>',
                        },
                        {
                            id: '15',
                            name: 'Когда я получу свой приз?',
                            note: '<p>Вручение призов осуществляется в&nbsp;течение 14&nbsp;рабочих дней с&nbsp;момента предоставления Победителем информации и&nbsp;документов, требуемых в&nbsp;соответствии с&nbsp;Правилами Акции.</p>',
                        },
                        {
                            id: '16',
                            name: 'Что делать, если я выслал(а) все документы, а приз не получил(а)?',
                            note: '<p>Обратись, пожалуйста, в&nbsp;службу поддержки через форму обратной связи на&nbsp;сайте или по&nbsp;электронному адресу <strong><a href="mailto:promotion@scarlett.ru"><a href="mailto:promotion@scarlett.ru">promotion@scarlett.ru</a></a></strong>.</p>',
                        },
                        {
                            id: '17',
                            name: 'Что делать, если возник вопрос, ответа на который тут нет?',
                            note: '<p>Обратись, пожалуйста, в&nbsp;службу поддержки через форму обратной связи на&nbsp;сайте или по&nbsp;электронному адресу <strong><a href="mailto:promotion@scarlett.ru"><a href="mailto:promotion@scarlett.ru">promotion@scarlett.ru</a></a></strong>.</p>',
                        },
                    ]
                },  
            ]                                        
        } %} 



        {% include "../block/common/modals/tpl.twig" with {
            prefix: "modal__", 
            mod:    "is--modal-juicer", 
            ID:     "modal-juicer",
            img:    [path.img,"/promo/juicer/modal-img.png"].join(''),
            name:   'Спасибо за&nbsp;регистрацию чека!',
        } %}

        {% include "../block/common/script/script.twig" with {
            view :"modal"
        }%}
        <script>
            var table = $('.juicer__table ');
            table.each(function() {
                var $span = $(this).find("tbody tr");
                if( $span.length <= 5 ) return;
                $span.slice(5).hide();
            });
              
            $(".js--show").on("click", function() {
                $(this).closest(".juicer__container").find("tbody tr").show();
                $(this).hide();
            });
        </script>
    </body>
</html> 
