<!DOCTYPE html>
<html dir="ltr" lang="ru-RU"> 
    <head>
        {% include "../block/common/head/head.twig" with {title:"Промо"}  %}
    </head>
    <body>
        {% include "../block/page/index.twig" with {
            view: "header",
            content_prefix:"content-block__", 
            content_mod:"is--promo-header",    
            img:[path.img,"/default/slider-lg.jpg"].join(''),
            img_xs:[path.img,"/default/slider-xs.jpg"].join(''),
        } %}
        {% include "../block/page/index.twig" with {
            view: "card",
            content_prefix:"content-block__", 
            content_mod:"is--promo-card",
            list:[
                {
                    heading:"Купи",
                    label:"любую соковыжималку Scarlett",
                    img:[path.img,"/default/promo-card1.jpg"].join(''),
                },
                {
                    heading:"Загрузи",
                    label:"чек на сайт scarlett.ru и оставь свой электронный адрес",
                    img:[path.img,"/default/promo-card2.jpg"].join(''),
                },
                {
                    heading:"Получи",
                    label:"промо-код на скидку 20% и тушь Oriflame в подарок",
                    note:"Введи промо-код при заказе на сайте oriflame.ru, получи скидку 20% и тушь в подарок",
                    img:[path.img,"/default/promo-card3.jpg"].join(''),
                },
            ],
                     
        } %}
        {% include "../block/page/index.twig" with {
            view: "form",
            content_prefix:"content-block__", 
            content_mod:"is--promo-form",
            heading:"Форма регистрации чека",                     
        } %} 
        {% include "../block/page/index.twig" with {
            view: "slider",
            content_prefix:"content-block__", 
            content_mod:"is--promo-slider",
            heading:"Размести",                     
            label:"рецепт на своей страничке в инстаграм с хештегом <span>#соковыжималкаSCARLETT</span> и окажись на странице бренда, а также участвуй в конкурсе рецептов",  
            list:[
                {
                    img:[path.img,"/default/promo-card1.jpg"].join(''),
                },
                {
                    img:[path.img,"/default/promo-card2.jpg"].join(''),
                },
                {
                    img:[path.img,"/default/promo-card3.jpg"].join(''),
                },
                {
                    img:[path.img,"/default/promo-card1.jpg"].join(''),
                },
                {
                    img:[path.img,"/default/promo-card2.jpg"].join(''),
                },
                {
                    img:[path.img,"/default/promo-card1.jpg"].join(''),
                },
                {
                    img:[path.img,"/default/promo-card2.jpg"].join(''),
                },
                {
                    img:[path.img,"/default/promo-card3.jpg"].join(''),
                },
                {
                    img:[path.img,"/default/promo-card1.jpg"].join(''),
                },
                {
                    img:[path.img,"/default/promo-card2.jpg"].join(''),
                },
            ],                   
        } %} 


        {% include "../block/common/modals/include.twig"%}        
        {% include "../block/common/script/script.twig"%}
    </body>
</html> 
