.card__{
	&item{
		&.is--promo{
			&-card{
				font-family: @site_ff_300;
				text-align: center;
				color: @black;
				font-size: 23px;
				line-height: 25px;
				.media-breakpoint-up(@xl; {
					font-size: 31px;
					line-height: 33px;
				});
			}
			&-slider{
				display: block;
				width: 380px;
				height: 400px;
				img{
					width: 100%;
					height: 100%;
					object-fit: cover;
					object-position: center;
				}
			}
			&-insta{
				margin: 30px 2px;
				width: 250px;
				height: 250px;
				position: relative;
				transition: @trs-site;
				&:hover{
					box-shadow: 0 14px 26px -12px rgba(0, 188, 212, .42), 0 4px 23px 0 rgba(0, 0, 0, .12), 0 8px 10px -5px rgba(0, 188, 212, .2);
				}
				.media-breakpoint-up(@lg; {
					width: 350px;
					height: 350px;
				});
				img{
					width: 100%;
					height: 100%;
					object-fit: cover;
					object-position: center;
				}
				&:focus{
					outline: none;
				}
				&::before{
					position: absolute;
					z-index: 1;
					top: 0;
					right: 0;
					background-repeat: no-repeat;
				    height: 32px;
				    width: 32px;
				    .icon-insta-small();
				}
				&.is--gallery{
					&::before{
						content: '';
				    	background-position: 0 0;
					}
				}
				&.is--video{
					&::before{
						content: '';
				    	background-position: 0 -34px;
					}
				}
			}
			&-catalog{
				display: block;
				width: 210px;
				height: 160px;
				margin: 0 2px;
				&:focus{
					outline: none;
				}
				img{
					width: 100%;
					height: 100%;
					object-fit: cover;
					object-position: center;
				}
			}
		}
	}
	&bg{
		&.is--promo{
			&-insta{
				position: absolute;
				z-index: 2;
				top: 0;
				left: 0;
				bottom: 0;
				right: 0;
				background-color: fadeout(@black, 70%);
				transition: @trs-site;
				display: flex;
				justify-content: center;
				align-items: center;
				font-size: 16px;
				font-weight: 700;
				font-family: @site_ff_700;
				color: @white;
				opacity: 0;
				&::before{
					content: '';
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
					width: 40%;
					height: 40%;
					.icon-insta();

				}
				/*
				span{
					margin: 15px;
					display: inline-flex;
					&::before{
						display: block;
						width: 20px;
						height: 20px;
						margin-right: 10px;
						background-repeat: no-repeat;
						.icon-insta-all();
					}
					&.is--like{
						&::before{
							content: '';
							background-position: -340px -333px;
						}
					}
					&.is--comment{
						&::before{
							content: '';
							background-position: -382px -333px;
						}
					}
					
				}*/
				.card__item:hover &{
					opacity: 1;
				}

			}
		}
	}
	&row{}
	&preview{
		&.is--promo{
			&-card{
				margin: 0 auto 26px;
				border-radius: 50%;
				width: 200px;
				height: 200px;
				overflow: hidden;
				border: 5px solid #f1f2f2;
				.media-breakpoint-up(@xl; {
					width: 343px;
					height: 343px;
				});
				img{
					width: 100%;
					height: 100%;
					object-fit: cover;
					object-position: center;
				}
			}
		}
	}
	&wrap{}
	&heading{
		&.is--promo{
			&-card{
				text-transform: uppercase;
				color: #ff484e;
				font-family: @site_ff_700;
				font-weight: bold;
			}
		}
	}
	&label{
	}
	&note{
		&.is--promo{
			&-card{
				margin-top: 20px;
				font-size: 18px;
				line-height: 19px;
				.media-breakpoint-up(@xl; {
					font-size: 22px;
					line-height: 23px;
				});
			}
		}
	}
}