.content-block__{	
	&panel{
		*{
			box-sizing: border-box;
		}
		background-color: @white;
		&.is--promo{
			&-card{}
			&-form{
				background-color: #f1f2f2;
			}
			&-slider{
				overflow: hidden;
			}
			&-insta{
				background-color: #f0f0f0;
			}
		}
	}
	&container{		
		padding-left: @container_gap;
		padding-right: @container_gap;
		margin-left: auto;
		margin-right: auto;
		width: 100%;
		max-width: @b-container;
		&.is--promo{
			&-card{
				padding-top: 42px;
				padding-bottom: 18px;
			}
			&-form{
				padding-top: 31px;
				padding-bottom: 31px;
			}
			&-slider{
				padding-top: 27px;
				padding-bottom: 0px;
			}
			&-insta{
				max-width: 800px;
				padding-top: 20px;
				//padding-bottom: 25px;
				&-slider{
					max-width: 100%;
					padding-bottom: 35px;
					padding-left: 0;
					padding-right: 0;
				}
			}
		}
	}
	&row{
		&.is--promo{
			&-card{
				display: flex;
				flex-direction: column;
				margin-left: -15px;
				margin-right: -15px;
				& > *{
					flex: 1 1 0;
					padding-left: 15px;
					padding-right: 15px;
					margin-bottom: 30px;
				}
				.media-breakpoint-up(@md; {
					flex-direction: row;
					& > *{
						margin-bottom: 0px;
					}
				});
				/*.media-breakpoint-up(@md; {
					grid-template-columns: repeat(3, 1fr);
				});*/
			}
			&-insta{
				display: flex;
				flex-wrap: wrap;
				align-items: center;
				justify-content: center;
				margin-left: -15px;
				margin-right: -15px;
				& > *{
					padding-left: 15px;
					padding-right: 15px;
					margin-bottom: 30px;
				}
				.media-breakpoint-down(@md; {
					& > *{
						&:nth-child(1){
							a{
								display: block;
								max-height: 65px;
							}
						}
					}
				});
				.media-breakpoint-up(@md; {
					flex-direction: row;
					flex-wrap: nowrap;
					justify-content: space-between;
					& > *{
						margin-bottom: 0px;
					}
				});
			}
		}
	}
	&heading{
		&.is--promo{
			&-form{
				text-transform: uppercase;
				font-size: 23px;
				line-height: 25px;
				margin-bottom: 25px;
				color: #3b9e00;
				font-family: @site_ff_700;
				text-align: center;
				.media-breakpoint-up(@md; {
					font-size: 31px;
					line-height: 33px;
					margin-bottom: 42px;					
				});
			}
			&-slider{
				text-align: center;
				text-transform: uppercase;
				font-size: 23px;
				line-height: 25px;
				color: #ff484e;
				font-family: @site_ff_700;
				font-weight: bold;
				.media-breakpoint-up(@md; {
					font-size: 31px;
					line-height: 33px;
				});
			}
			&-insta{
				font-family: @site_ff_300;
				text-transform: uppercase;
				text-align: center;
				font-size: 1.7rem;
				line-height: 30px;
				color: #595959;
				a{
					color: inherit;
					font-family: @site_ff_700;
					font-weight: bold;
					display: block;
					text-decoration: none;
				}
			}
		}
	}
	&preview{
		&.is--promo{
			&-header{
			}
		}
	}
	&text{
		&.is--promo{
			&-card{
				margin-top: 50px;
				font-size: 18px;
				line-height: 20px;
				color: @black;
				font-family: @site_ff_300;
				text-align: center;
				.media-breakpoint-up(@md; {
					font-size: 21px;
					line-height: 23px;
				});
			}
			&-slider{
				font-size: 23px;
				line-height: 25px;
				text-align: center;
				font-family: @site_ff_b300;
				letter-spacing: 1.5px;
				margin-bottom: 40px;
				.media-breakpoint-up(@md; {
					font-size: 31px;
					line-height: 33px;
				});
				span{
					color: #3b9e00;
					letter-spacing: 0px;
					font-family: @site_ff_700;
					display: block;
				}
			}
		}

	}	  
	&slider{
		&.is--promo{
			&-slider{
				padding-bottom: 27px;
			}	
		}
	}  
	&btn{
		display: block;
		.btn-clearfix();
		font-size: 16px;
		line-height: 17px;
		text-transform: uppercase;
		color: @white;
		font-family: @site_ff_700;
		background-color: #00c4d9;
		transition: @trs-site;
		padding: 22px 40px 18px;
		&:hover{
			background-color: #00aec5;
			box-shadow: 0 14px 26px -12px rgba(0, 188, 212, .42), 0 4px 23px 0 rgba(0, 0, 0, .12), 0 8px 10px -5px rgba(0, 188, 212, .2);
		}
		&.is--promo{
			&-insta{
				
			}	
		}		
	}
}
.slick { 
	@g: 15px;
	&-slider{	
		position: relative;
		display: block;
		box-sizing: border-box;
		user-select: none;
		touch-action: pan-y;
		-webkit-tap-highlight-color: transparent;
		//padding-bottom: @slider_btn_width + 10px;
		//@media @media-point-notsmart {
			//padding: 0 @slider_btn_width + 10px;
		//}
		&.slick-dotted{
			
		}
	}
	&-list {
		position: relative;
		overflow: hidden;
		display: block;
		margin: 0;
		padding: 0;
		&:focus {
			outline: none;
		}
		&.dragging {
			cursor: pointer;
			cursor: hand;
		}
		[data-slick-slider] &{
			//overflow: visible;
		}
	} 
	&-track,
	&-list {
		transform: translate3d(0, 0, 0);
	}
	&-track {
		position: relative;
		left: 0;
		top: 0;
		display: block;

		&:before,
		&:after {
			content: "";
			display: table;
		}

		&:after {
			clear: both;
		}

		.slick-loading & {
			visibility: hidden;
		}
	}
	&-slide {
		float: left;
		height: 100%;
		min-height: 1px;
		transition: @trs-site;
		[dir="rtl"] & {
			float: right;
		}
		img {
			display: block;
		}
		&.slick-loading img {
			display: none;
		}

		display: none;

		&.dragging img {
			pointer-events: none;
		}

		.slick-initialized & {
			display: block;
		}

		.slick-loading & {
			visibility: hidden;
		}

		.slick-vertical & {
			display: block;
			height: auto;
			border: 1px solid transparent;
		}
		&.slick-center{
			
		}
		[data-slick-slider] &{
			padding: 0 5px;
		}
	}
	&-btn{
		.btn-clearfix();
		position: absolute;
		z-index: 5;
		top: 0;
		width: 15%;
		height: 100%;
		&.is--prev{
			left: 0px;
			background-image: linear-gradient(90deg, fadeout(@white, 0%) 0%, fadeout(@white, 100%) 100%);
			[data-slick-insta] &{
				background-image: linear-gradient(90deg, fadeout(#fafafa, 0%) 0%, fadeout(#fafafa, 100%) 100%);
			}
			&::before{
				content: '';
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				.icon-prev();
				background-position: 15px center;
			}
			&:hover{
				&::before{
					.icon-prev(@c: '00c4d9');
				}
			}
		}
		&.is--next{
			right: 0px;
			[data-slick-insta] &{
				background-image: linear-gradient(90deg, fadeout(#fafafa, 100%) 0%, fadeout(#fafafa,0%) 100%);
			}
			&::before{
				content: '';
				position: absolute;
				z-index: -1;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				.icon-next();
				background-position: right 15px center;
			}
			&:hover{
				&::before{
					.icon-next(@c: '00c4d9');
				}
			}
		}
	}
}
.slick-arrow.slick-hidden {
	display: none;
} 
.card__{
	&item{
		&.is--promo{
			&-card{
				font-family: @site_ff_300;
				text-align: center;
				color: @black;
				font-size: 23px;
				line-height: 25px;
				.media-breakpoint-up(@xl; {
					font-size: 31px;
					line-height: 33px;
				});
			}
			&-slider{
				display: block;
				width: 380px;
				height: 400px;
				img{
					width: 100%;
					height: 100%;
					object-fit: cover;
					object-position: center;
				}
			}
			&-insta{
				margin: 30px 2px;
				width: 250px;
				height: 250px;
				position: relative;
				transition: @trs-site;
				&:hover{
					box-shadow: 0 14px 26px -12px rgba(0, 188, 212, .42), 0 4px 23px 0 rgba(0, 0, 0, .12), 0 8px 10px -5px rgba(0, 188, 212, .2);
				}
				.media-breakpoint-up(@lg; {
					width: 350px;
					height: 350px;
				});
				img{
					width: 100%;
					height: 100%;
					object-fit: cover;
					object-position: center;
				}
				&:focus{
					outline: none;
				}
				&::before{
					position: absolute;
					z-index: 1;
					top: 0;
					right: 0;
					background-repeat: no-repeat;
				    height: 32px;
				    width: 32px;
				    .icon-insta-small();
				}
				&.is--gallery{
					&::before{
						content: '';
				    	background-position: 0 0;
					}
				}
				&.is--video{
					&::before{
						content: '';
				    	background-position: 0 -34px;
					}
				}
			}
		}
	}
	&bg{
		&.is--promo{
			&-insta{
				position: absolute;
				z-index: 2;
				top: 0;
				left: 0;
				bottom: 0;
				right: 0;
				background-color: fadeout(@black, 70%);
				transition: @trs-site;
				display: flex;
				justify-content: center;
				align-items: center;
				font-size: 16px;
				font-weight: 700;
				font-family: @site_ff_700;
				color: @white;
				opacity: 0;
				&::before{
					content: '';
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
					width: 40%;
					height: 40%;
					.icon-insta();

				}
				/*
				span{
					margin: 15px;
					display: inline-flex;
					&::before{
						display: block;
						width: 20px;
						height: 20px;
						margin-right: 10px;
						background-repeat: no-repeat;
						.icon-insta-all();
					}
					&.is--like{
						&::before{
							content: '';
							background-position: -340px -333px;
						}
					}
					&.is--comment{
						&::before{
							content: '';
							background-position: -382px -333px;
						}
					}
					
				}*/
				.card__item:hover &{
					opacity: 1;
				}

			}
		}
	}
	&row{}
	&preview{
		&.is--promo{
			&-card{
				margin: 0 auto 26px;
				border-radius: 50%;
				width: 200px;
				height: 200px;
				overflow: hidden;
				border: 5px solid #f1f2f2;
				.media-breakpoint-up(@xl; {
					width: 343px;
					height: 343px;
				});
				img{
					width: 100%;
					height: 100%;
					object-fit: cover;
					object-position: center;
				}
			}
		}
	}
	&wrap{}
	&heading{
		&.is--promo{
			&-card{
				text-transform: uppercase;
				color: #ff484e;
				font-family: @site_ff_700;
				font-weight: bold;
			}
		}
	}
	&label{
	}
	&note{
		&.is--promo{
			&-card{
				margin-top: 20px;
				font-size: 18px;
				line-height: 19px;
				.media-breakpoint-up(@xl; {
					font-size: 22px;
					line-height: 23px;
				});
			}
		}
	}
}
.form__{
	&panel{
		max-width: 650px;
   		margin: 0 auto;
   		&.is--modal-timberk{
			max-width: 335px;
			text-align: center;   			
   		}
   		&.is--modal-hyundai{
			max-width: 205px;
			text-align: center;   			
   		}
	}
	&row{
		&.is--promo{
			&-form{
				display: flex;
				flex-wrap: wrap;
				margin-left: -15px;
				margin-right: -15px;
				& > *{					
					padding-left: 15px;
					padding-right: 15px;
					flex: 1 1 100%;
					max-width: 100%;
					margin-bottom: 25px;
				}		
				.media-breakpoint-up(@md; {
					margin-left: -20px;
					margin-right: -20px;
					& > *{
						padding-left: 20px;
						padding-right: 20px;
						flex: 1 1 50%;
						max-width: 50%;
						margin-bottom: 25px;
					}
					//grid-template-columns: repeat(2, 1fr);
					& > [data-grid-file]{
						//grid-column: span 2;
						margin-top: 5px;
						flex: 1 1 100%;
						max-width: 100%;
						.form__file{
							max-width: 305px;
							margin: 0 auto;
						}
					}
					& > [data-grid-agreement]{
						flex: 1 1 100%;
						max-width: 100%;
						margin-top: 15px;
						//grid-column: span 2;
						.form__item{
							margin: 0 auto;
							max-width: 305px;
						}
					}
					& > [data-grid-submit]{
						flex: 1 1 100%;
						max-width: 100%;
						grid-column: span 2;
						text-align: center;
						margin-top: 12px;
					}
					& > [data-grid-link]{
						flex: 1 1 100%;
						max-width: 100%;
						grid-column: span 2;
						text-align: center;
					}
				});
			}
		}
	}
	&item{
		&.is--modal-timberk{
			margin-bottom: 22px;			
		}
		&.is--modal-hyundai{
			margin-bottom: 18px;
		}
	}
	&label{
	}
	&submit{
		.btn-clearfix();
		font-size: 19px;
		line-height: 21px;
		width: 310px;
		color: @white;
		font-family: @site_ff_700;
		background-color: #3b9e00;
		transition: @trs-site;
		text-transform: uppercase;
		padding: 20px;
		&:hover{
			background-color: #00c4d9;
		}

		&.is--modal-timberk{
			font-size: 17px;
			line-height: 20px;
			width: auto;
			background-color: #00afab;
			text-align: center;
			padding: 10px 13px 7px;
			&:hover{
				background-color: #0033a1;
			}
		}
		&.is--modal-hyundai{
			font-size: 14px;
			line-height: 14px;
			width: auto;
			background-color: #0033a1;
			text-align: center;
			padding: 10px 10px 7px;
			&:hover{
				background-color: #00afab;
			}
		}
	}
	&link{
		font-size: 15px;
		line-height: 15px;
		border-bottom: 1px solid @black;
		color: @black;
		transition: @trs-site;
		text-decoration: none;
		&:hover{
			color: #00c4d9;
			border-bottom-color: fadeout(@black, 100%);

		}
	}
	&control{
		width: 100%;
		border: 2px solid @white;
		background-color: @white;
		color: #595959;
		height: 38px;
    	box-shadow: none;
    	padding: 6.5px 10px;
    	font-size: 14px;
    	line-height: 16px;
    	border-radius: 0;
    	transition: @trs-site;
		&::-moz-placeholder{
			color: #d6d6d6;
		}
		&::-webkit-input-placeholder {
			color: #d6d6d6;
		}
		&:focus{
			border-color: #00c4d9;
			outline: none;
		}
		&.is--modal-timberk{
			border-color: #00afab;
			text-align: center;
			&::-moz-placeholder{
				color: #ababab;
			}
			&::-webkit-input-placeholder {
				color: #ababab;
			}
			&:focus{
				border-color: #0033a1;
			}			
		}
		&.is--modal-hyundai{
			border-color: #0033a1;
			border-width: 1px;
			height: 30px;
			text-align: center;
			&::-moz-placeholder{
				text-transform: uppercase;
				font-size: 13px;				
				color: #a7a7a7;
			}
			&::-webkit-input-placeholder {
				text-transform: uppercase;
				font-size: 13px;
				color: #a7a7a7;
			}
		}
	}

	&file{
		display: block;
		position: relative;
		cursor: pointer;
		width: 100%;
		border: 2px solid @white;
		background-color: @white;
    	padding: 0 10px;
    	font-size: 14px;
    	line-height: 38px;
		height: 38px;
		color: #d6d6d6;
		&:focus{
			border-color: #00c4d9;
		}
		&-input{
			position: absolute;
			appearance: none;
			width: 1px;
			height: 1px;
			margin: -1px;
			clip: rect(0 0 0 0);
		}		
		&-name{
			p{
				margin: 0;
				display: flex;
				color: #595959;
			}
			.is--name{
				flex: 1 1 0;
				overflow: hidden;
				white-space: nowrap;
				text-overflow: ellipsis;

			}				
		}
		&-remove{
			white-space: nowrap;
			margin-left: auto;
			padding-left: 10px;
		}	
	}

	&checkbox{
		&{
			position: relative;
			display: flex;
			align-items: center;
    		font-size: 14px;
    		line-height: 16px;
			cursor: pointer;
			transition: @trs-site;
			a{
				color: #00c4d9;
			}
		}
		&-input{
			position: absolute;
			appearance: none;
			width: 1px;
			height: 1px;
			margin: -1px;
			clip: rect(0 0 0 0);
		}
		&-icon{
			position: relative;
			min-width: 15px;
			width: 15px;
			height: 15px;
			background-color: @white;
			margin-right: 10px;
			transition: @trs-site;
			&::after{
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background-position: center;
				transition: @trs-site;
			}
			.form__checkbox-input:focus + &{
				//border-color: @check_focus_border_color;
			}
			.form__checkbox-input:checked + &{
				//border-color: @check_focus_border_color;
				&::after{
				    background: #00c4d9 url(/local/templates/rs.scarlett/assets/css/../img/checked.png) 50% no-repeat;
				}
			}
		}
	}
}

// === formError === //
.formError { 
	z-index: 990;
	position: absolute;
	top: 0px;
	left: 0px;
	display: block;
	cursor: pointer;
	text-align: left;
	.formErrorContent { 
		z-index: 991;
		position:relative;
		width: 100%;
		min-width: 120px;
		background-color: @form_error_bg;
		color: @form_error_text_color;
		font-size: @form_error_fs;
		line-height: @form_error_lh;
		border: @form_error_border_width solid @form_error_border_color ;
		padding: 5px 10px;
		border-radius: @form_error_radius ;
	    text-transform: uppercase;
	    .greenPopup &{ 
	    	background: @form_error_bg_pass;
	    }
	    .blackPopup &{ 
	    	background: @form_error_bg_load;  
	    }
	}
	.formErrorArrow { 
		z-index: 996;
		position:relative;
		width: 16px;
		margin-left: 10px;
	    border-top: 10px solid fadeout(@form_error_bg, 0%);
	    border-left: 8px solid fadeout(@form_error_bg, 100%);
	    border-right: 8px solid fadeout(@form_error_bg, 100%);
	    &.formErrorArrowBottom {
			border-top: 0;
		    border-bottom: 10px solid fadeout(@form_error_bg, 0%);
		}
	    .greenPopup &{ 
	    	border-top-color: @form_error_bg_pass;
		    &.formErrorArrowBottom {
			    border-bottom-color: @form_error_bg_pass;
			}
	    }
	    .blackPopup &{ 
	    	border-top-color: @form_error_bg_load;
		    &.formErrorArrowBottom {
			    border-bottom-color: @form_error_bg_load;
			} 
	    }
	}

	&.inline {
		position: relative;
		display: inline-block;
		.formErrorContent {
			border: none;
			border-radius: 0;
		}
	}
	.ui-dialog &{
		z-index: 5000; 
		.formErrorContent { z-index: 5001; }
		.formErrorArrow { z-index: 5006; }
	}
}
.inputContainer {
	position: relative;
	float: left;
}
.ajaxSubmit {
	padding: 20px;
	background: #55ea55;
	border: 1px solid #999;
	display: none;
}
.container {
	padding-left: @container_gap;
	padding-right: @container_gap;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	max-width: @b-container;
	.media-breakpoint-up(@md; {
		padding-left: @container_gap + 8;
		padding-right: @container_gap + 8;
	});
	/*.media-breakpoint-up(@lg; {
		width: 95vw;
	});
	.media-breakpoint-up(@xxl; {
		width: 90vw; 
	});
	&.is--default-page{
		.media-breakpoint-up(@lg; {
			max-width: @b-container-default;
		});
	}*/
} 
.grid__{
	&row{
		display: grid;
		grid-gap: 30px;		
	}
}
.modal-open {
	overflow: hidden; 
}
.modal__ {
	&block{
		display: none;
		overflow: hidden;
		position: fixed;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: 1000;
		-webkit-overflow-scrolling: touch;
		outline: 0;		
		.modal-open &{
			overflow-x: hidden;
			overflow-y: auto;
			.media-breakpoint-up(@md; {
				overflow-y: hidden;
			});
		}		
		//display: block;
		//opacity: 1;
		//background: @black;
	}
	&dialog {
		transition: all 0.5s;
		position: relative;
		width: auto;	
		margin: 0px auto;
		max-width: @modal_width;
		top: 50%;
		transform: translateY(-50%);
		left: -100%;
		max-height: 100%;
		.modal__block.in &{
			left: 0;
		}
		.media-breakpoint-up(@md; {		
			left: inherit;			
			.modal__block.in &{
				left: inherit;
			}
		});
		&.is--modal-timberk{
			max-width: 600px;
		}
		&.is--modal-hyundai{
			max-width: 600px;
		}
		//top: 0;
		//left: 0;
		//transform: translateY(0);
	}
	&body {
		position: relative;
		padding: 30px;
		&.is--modal-timberk{
			padding: 0px;
		}
		&.is--modal-hyundai{
			padding: 28px;
			background-repeat: no-repeat;
			background-position: center;
		}
	}
	&preview{		
		&.is--modal-hyundai{
			margin-bottom: 32px;
			img{
				margin: 0 auto;
			}
		}
	}
	&content{
		background-color: @modal_bg;
		padding: 5px 5px 30px;
		&.is--modal-timberk{
			padding: 20px 15px 30px;
		}
		&.is--modal-hyundai{
			padding: 38px 15px;
			max-width: 270px;
		}
	}
	&btn-close{
		.btn-clearfix();
	    position: absolute;
	    z-index: 5; 
		padding: 5px;
		top: 0;
		right: 0;
	   	color: @modal_btn_color;
		width: @modal_btn_width;
		height: @modal_btn_width;
		svg{display: block;}
	   	transition: @trs-site;   
		&:hover{
			color: @modal_btn_color_hover;
		}
		&.is--modal-timberk{
			top: 5px;
			right: 5px;
			&:hover{
				color: #0033a1;
			}
		}
		&.is--modal-hyundai{
			background-color: #0033a1;
			&:hover{
				background-color: #00afab;
				color: @white;
			}
		}
	}
	&row{
		display: grid;
		margin-bottom: 25px;
		grid-gap: 5px;
		grid-template-columns: repeat(3,1fr);
		.media-breakpoint-up(@md; {			
			margin-bottom: 56px;
		});
	}
	&img{
		height: 100px;
		.media-breakpoint-up(@sm; {
			height: 150px;
		});
		.media-breakpoint-up(@md; {
			height: 230px;
		});
		img{
			width: 100%;
			height: 100%;
			object-position: center;
			object-fit: cover;
		}
	}
	&heading{
		text-transform: uppercase;
		font-size: 23px;
		line-height: 25px;
		margin: 0 0 25px;
		color: #3b9e00;
		font-family: @site_ff_700;
		text-align: center;
		.media-breakpoint-up(@md; {
			font-size: 31px;
			line-height: 33px;
			margin-bottom: 32px;					
		});
		&.is--modal-timberk{
			font-size: 15px;
			line-height: 17px;
			font-weight: 400;
			color: #00afab;
			margin-bottom: 20px;
		}
		&.is--modal-hyundai{
			font-size: 14px;
			line-height: 15px;
			color: #595a5c;
			margin-bottom: 37px;
		}
	}
	&label{
		color: #585858;
		font-size: 18px;
		line-height: 23px;
		margin: 0;
		text-align: center;
		font-family: @site_ff_b300;
		.media-breakpoint-up(@md; {
			font-size: 25px;
			line-height: 30px;				
		});
	}
}
.modal-backdrop {
	position: fixed;
	top: 0;
	right: 0;
	bottom: -1px;
	left: 0;
	z-index: 940;
	background-color: @modal_backdrop;
	&.fade { 
		opacity: 0;
	}
	&.in {
		opacity: @modal_backdrop_fade;
	}
}